doctype html
html
  head
    title= title
   link(rel='stylesheet', href='/stylesheets/style2.css')
  body

  

  table.content-table(align='center')
    thead
      tr
        th Selection
        th Class Name
        th Class ID
        th Class Section
        th Professor Name
        th Credit Amount
        th Seat Amount
        th Class Time
        th Start Date
        th End Date
    tbody
    each r in classes

      
      tr
     
        td
          input(type='checkbox' checked=true)
        td #{r.cName}
        td #{r.classI}
        td #{r.class_s}

        td #{r.p_name}
        td #{r.c_amount}
        td #{r.s_amount}
        td #{r.class_t}
        td #{r.start_d}
        td #{r.end_d}
        sumbit

  //- if r.cid == selection.cs2
          //-   input(type='checkbox' checked=true)
          //- else
          //-   input(type='checkbox' checked=false)  
  
  //- p #{selection.cs2}
  //-   each row in #{classes}
  //-   row.cName


table.content-table
  thead
    tr
      th Rank
      th Name
      th Points
      th Team
  tbody
    tr
      td 1
      td Domenic
      td 88,110
      td dcode
    tr.active-row
      td 2
      td Sally
      td 72,400
      td Students
    tr
      td 3
      td Nick
      td 52,300
      td dcode
